<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwjztAj67cjR66FKZue0yatB50F5YcjAM</string>
	<key>GCM_SENDER_ID</key>
	<string>842097774149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mstst.rfid.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>msts-rfid</string>
	<key>STORAGE_BUCKET</key>
	<string>msts-rfid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842097774149:ios:90aefa9c157c627c569d2c</string>
	<key>DATABASE_URL</key>
	<string>https://msts-rfid-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>